<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>systemLogIcon</key>
	<string>gluuIcon.png</string>
	<key>systemLogRedIcon</key>
	<string>gluuIconRed.png</string>
	<key>systemAlertIcon</key>
	<string>gluuIconAlert.png</string>
	<key>systemIcon</key>
	<string>gluu.png</string>
	<key>systemColor</key>
	<dict>
		<key>red</key>
		<integer>1</integer>
		<key>green</key>
		<integer>161</integer>
		<key>blue</key>
		<integer>97</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>systemTitle</key>
	<string>Super Puper Gluu </string>
</dict>
</plist>
